<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Dominio</th>
            <th>Nombre Pais</th>
            <th>Capital</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <th>{{i+1}}</th>
            <th>{{ pais.alpha3Code }}</th>
            <th>{{ pais.name }}</th>
            <th>{{ pais.capital }}</th>
            <th><a [routerLink]="[ '/pais', pais.alpha2Code ]">Ver Detalle</a></th>
        </tr>
        
    </tbody>
</table>
